/* Universal selector applies format to entire page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body background */
body {
  background-color: #5e5e5e;
}

/* Applies font, background color, font color to main header */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #a4657a;
  color: #ffffff;
}

/* Bolds header h1 class and enlarges font */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Links at top */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* No bullets for header list */
.header nav ul {
  list-style-type: none;
}

/* Adjusts list 25 px from left, horizontal */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/*Underlines when hovering*/
.header nav a:hover {
  text-decoration: underline;
}

/*Background image*/
.background {
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/bebrilliant.jpg");
  background-position: center;
  background-size: contain;
}

/*Subsection formatting*/
.article {
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 40px;
  float: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/* Work Section*/
.section {
  padding-top: 15px;
  margin-right: 60px;
  float: left;
}
/*Project placards*/
.project {
  padding: 10px;
  width: 300px;
  height: 600px;
  color: #ffffff;
  float: left;
  display: inline-block;
}

/*Project images*/
.project img {
  border: 5px;
  border-style: solid;
  border-color: white;
  width: 90%;
}

/*Placards lighten when hovering*/
.project img:hover {
  opacity: 0.5;
}

/* Text color white */
a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

/* Adjusts font size for paragraphs */
p {
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}

/*Header 2 fonts*/
h2 {
  color: #ffffff;
  padding: 10px;
}

.contact {
  padding-top: 15px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

.contact ul {
  list-style-type: none;
}

.contact ul li {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 25px;
}

.contact a:hover {
  text-decoration: underline;
  color: #a4657a;
}

/* MAKE NEW FLEX FOR CONTACT AND RESUME SECTION*/

/* Footer */
.footer {
  font-size: 20px;
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
